.wrapper {
  background-color: var(--color-2);
  padding: 3.6rem 3rem;
  border-radius: 25px;
}

@media screen and (min-width: 920px) {
  .wrapper {
    max-width: 920px;
    margin: 0 auto 24rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
    padding: 3.2rem;
    align-items: center;
  }
}
