.wrapper {
  background-color: var(--color-3);
  padding: 24px;
  margin-top: 32px;
  border-radius: 15px;
  color: var(--color-2);
}

@media screen and (min-width: 920px) {
  .wrapper {
    margin-top: 0;
    padding: 4rem;
  }

  .wrapper button {
    margin-top: 13rem;
  }
}
