.input-icon-wrapper {
  position: relative;
}

.input {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  padding: 0;
  border: none;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: right;
  background-color: rgb(243, 249, 250);
  padding-right: 18px;
}

.icon {
  position: absolute;
  top: 17px;
  left: 20px;
}

.title {
  margin-bottom: 6px;
  color: var(--color-5);
}
